body{
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: navy;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}
#cabecera{
    background: navy;
    color: whitesmoke;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline{
    font-weight: normal;
    font-size: 0.8em;
}